@import '@/styles/Utils/variables';

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-end: 3rem;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem;
    background-color: $white;
    color: $main-color;
    border-radius: 1rem;

}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .timing {
        display: inline-flex;
        gap: .9rem;
        align-items: center;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 500;
    }
}

.cover {
    // box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .16);
    width: 100%;
    border-radius: 1rem;
    height: 180px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        min-height: 100%;
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 3px;

    h4 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .specs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rate {
            color: #474c60;
            display: inline-flex;
            gap: .5rem;
            align-items: center;

            i {
                color: $yellow;
            }
        }

        .btns {
            display: flex;
            gap: .5rem;

            .matched {
                background-color: #ffe9d6;
                color: #ec925f;
                padding: .6rem .8rem;
                border-radius: .5rem;
                font-size: .6875rem;
                font-weight: 600;
            }

        }
    }
}

.utils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    color: #767676;

    i {
        color: $main-color;
    }

    // .distance {
    //     i {
    //         color: $white;
    //         border: .5px solid $main-color;
    //     }
    // }
}

.distanceTime {
    color: #5a5a5a;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: .3rem;

    i {
        color: $main-color;
    }
}