.search {
    position: relative;
    padding: .5rem .9rem;
    border-radius: .75rem;
    border: solid 1px #dadbdf;
    // display: flex;
    display: none;
    justify-content: space-between;

    &.header {
        width: 11.5rem;
        display: flex;
        @media screen and (max-width: 1200px) {
            width: 20rem;   
        }
    }

    &.home {
        width: 100%;
        display: none;
    }

    input {
        color: #484848;
        font-size: .75rem;
        border: none;
        width: 100%;
        background-color: transparent;
    }

    i {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .search {
        &.header {
            display: none;
        }

        &.home {
            display: flex;
        }
    }
}