.container {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    padding: 2.75rem 0;
    border-bottom: 1px solid #707070;

    .cover {
        height: 11.25rem;
        width: 19.5rem;
        border-radius: 1rem;
        overflow: hidden;
    }

    p {
        font-size: 1.5rem;
        color: #888b8b;
        line-height: 1.24;
    }
}