@import '@/styles/Utils/variables';

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        color: $main-color;
    }

    textarea {
        border-radius: 15px;
        background-color: #f4f4f4;
        border: none;
        padding: .5rem 1rem;
    }
}