.container {
    margin: 4rem 0;

    .searchInput {
        display: flex;
        gap: 2rem;
        button {
            min-width: 15rem;
        }
    }
    .search {
        position: relative;
        padding: .82rem 1.5rem;
        border-radius: .75rem;
        border: solid 1px #dadbdf;
        width: 100%;
        display: flex;
        gap: .5rem;
        align-items: baseline;
        // justify-content: space-between;

        input {
            color: #484848;
            font-size: 1.125rem;
            border: none;
            width: 100%;
            background-color: transparent;
        }

        i {
            cursor: pointer;
        }
    }
}