@import '@/styles/Utils/_variables';

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 3rem 0;
    background-color: $white;
    margin-bottom: 3rem;

    .details {
        display: flex;
        justify-content: space-between;
    }

    .data {
        display: flex;
        gap: 2rem;
        align-items: center;

        h3 {
            font-size: 2rem;
            color: #5d5d5d;
        }
    }

    .logout {
        font-size: 1.25rem;
        color: #898989;
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;

        i {
            font-size: 2rem;
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
    }

    .item {
        color: $main-color;
        display: inline-flex;
        gap: 1.5rem;
        font-size: 1.5rem;
        align-items: center;

        i {
            font-size: 1.5em;
        }
    }
}