@import '@/styles/Utils/variables';

.container {
    background-color: $main-color;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.innerContainer {
    width: 80vw;
    display: flex;
    gap: 0;
    height: 80vh;

    @media screen and (max-width: 1024px) {
        width: 90vw;
    }
}

.carousel {
    width: 70%;

    img {
        width: 100%;
        min-height: 100%;
    }

    @media screen and (max-width: 1024px) {
        display: 60%;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.complete {
    form {
        margin-bottom: auto;
    }
}

.formContainer {
    width: 30%;
    padding: 4rem;
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 1024px) {
        width: 40%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .registerForm {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // align-items: center;
        .logo {
            align-self: center;
        }
    }

    form {
        width: 100%;
        color: $main-color;

        .input {
            border: none;
            border-bottom: 1px solid #707070;
            color: $main-color;
            font-size: .75rem;
            width: 100%;
            font-weight: 500;
            margin-bottom: 1rem;
            padding: .5rem;
        }

        a {
            // opacity: .75;
            color: $main-color;
            text-decoration: none;
            font-size: .75rem;
        }
    }

    h1 {
        opacity: .75;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.25rem;
    }

}

.submit {
    margin-top: 2rem;
}

.socialLogin {
    width: 100%;

    p {
        text-align: center;
        color: $main-color;
        font-size: 1.25rem;
        // opacity: .75;
        margin-bottom: 1.5rem;
    }
}

.loginOptions {
    display: flex;
    justify-content: center;
    gap: .75rem;

    .loginOption {
        width: 3.25rem;
        height: 3.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        color: $white;
        font-size: 1.5rem;
        border: none;
        border-radius: 50%;
    }
}

a.register {
    color: $main-color;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    margin-bottom: 2rem;
    text-align: center;
}

.multiSelect {
    label {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: .75rem;
        font-weight: 500;
    }

    .selection {
        padding: .5rem 1rem;
        border-radius: .75rem;
        border: 1px solid $main-color;
        color: $main-color;
        font-size: .7rem;
        font-weight: 500;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &.selected,
        &:hover {
            background-color: $main-color;
            color: $white;
        }
    }
}

.loginError {
    color: var(--bs-red);
    font-size: .75rem;
}