@font-face {
    font-family: "STC";
    src: url("../../public/assets/fonts/STC-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "STC";
    src: url("../../public/assets/fonts/STC-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-family: $main-font-family;
    font-weight: 400;
}