@import '@/styles/Utils/variables';

.container {
    margin: 3.7rem;
}

.header {
    // text-align: center;
    font-size: 2.56rem;
    font-weight: 600;
    color: $main-color;
    text-transform: uppercase;

    img {
        cursor: pointer;
    }
}