@import '@/styles/Utils/variables';

// .modalBackdrop {
//     position: fixed;
//     height: 100vh;
//     width: 100vw;
//     z-index: 999999;
//     top: 0;
//     left: 0;
// }

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($main-color, .5);
    overflow-y: auto;
    z-index: 9999999;

    // @media (min-width: 768px) {
    //     padding: 2rem;
    // }

    // @media (min-width: 992px) {
    //     padding: 3rem;
    // }

    // @media (min-width: 1200px) {
    //     padding: 4rem;
    // }

    // @media (min-width: 1400px) {
    //     padding: 5rem;
    // }
}

.container {
    width: 100%;
    min-height: 100vh;
    // overflow-y: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 576px) {
        padding: 1rem;
    }
}

.content {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    min-width: 70vw;
    max-width: 80vw;

    &.sm {
        min-width: min(500px, 95vw);
    }
}

.close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;

    i {
        cursor: pointer;
        font-size: 2rem;
        color: rgba($main-color, .5);
    }
}