@import '@/styles/Utils/variables';

.modalBackdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
    top: 0;
    left: 0;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($main-color, .5);
    padding: 8vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow-y: auto;
    z-index: 9999999
}

.container {
    width: 100%;
    background-color: #FFF;
    padding: 4.5rem 5rem;
    border-radius: 2rem;
}