@import '@/styles/Utils/variables';

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    &.full {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: rgba($main-color, .5);
    }

    i {
        color: $main-color;
    }
}